# Example .env file - copy to .env and fill values (DO NOT COMMIT .env to VCS)
# Download URL (direct link to PDF) - if using Playwright set USE_PLAYWRIGHT=true instead
DOWNLOAD_URL=https://example.com/report.pdf

# If the target requires browser automation (Playwright)
USE_PLAYWRIGHT=true
PLAYWRIGHT_LOGIN_URL="https://app.powerbi.com/links/533s-Lambw?ctid=fcc772d1-da57-4612-a9ca-3972b3f34b06&pbi_source=linkShare&bookmarkGuid=f582b5ba-15c0-4c8e-94e1-8dfd0ff015a5"
PLAYWRIGHT_USERNAME=mnacef@highmor.com
PLAYWRIGHT_PASSWORD=Monsof29319575
PLAYWRIGHT_DOWNLOAD_SELECTOR=button[aria-label="Export"]

# Output folder for saved PDFs and logs
OUTPUT_DIR=C:\Users\Nasef\Downloads\project folder

# Outlook SMTP (Office365)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=zouaouimednacef46@gmail.com 
SMTP_PASS=wjxt clvu ltwm ydnj

EMAIL_FROM=zouaouimednacef46@gmail.com
EMAIL_GROUP_1=mnacef@highmor.com,zouaouimohamednacef46@gmail.com,abdirisaq@highmor.com
EMAIL_GROUP_2=zouaouimohamednacef46@gmail.com,abdirisaq@highmor.com
EMAIL_GROUP_3=zouaouimohamednacef46@gmail.com,abdirisaq@highmor.com
EMAIL_GROUP_4=zouaouimohamednacef46@gmail.com,abdirisaq@highmor.com
EMAIL_GROUP_5=zouaouimohamednacef46@gmail.com,abdirisaq@highmor.com
EMAIL_GROUP_6=zouaouimohamednacef46@gmail.com,abdirisaq@highmor.com
EMAIL_GROUP_7=zouaouimohamednacef46@gmail.com,abdirisaq@highmor.com
EMAIL_GROUP_8=zouaouimohamednacef46@gmail.com,abdirisaq@highmor.com
EMAIL_GROUP_9=zouaouimohamednacef46@gmail.com,abdirisaq@highmor.com
EMAIL_GROUP_10=zouaouimohamednacef46@gmail.com,abdirisaq@highmor.com
EMAIL_GROUP_11=zouaouimohamednacef46@gmail.com,abdirisaq@highmor.com
EMAIL_GROUP_12=zouaouimohamednacef46@gmail.com,abdirisaq@highmor.com 
EMAIL_SUBJECT=Monthly Report



# Pages to remove from the downloaded PDF: comma-separated zero-based indices, e.g. "0,2"
REMOVE_PAGES=6,7,8,9,10

# List of ending facilities (comma-separated)
ENDING_FACILITIES_1="Adventist Health Portland ,Doernbecher Children's Hospital ,OHSU Hospital,Hillsboro Medical Center"
ENDING_FACILITIES_2="Salem Hospital,West Valley Hospital"
ENDING_FACILITIES_3="PeaceHealth Cottage Grove Medical Center,PeaceHealth Peace Harbor Medical Center,PeaceHealth Sacred Heart Medical Center - Riverbend,PeaceHealth Sacred Heart Medical Center - UD"
ENDING_FACILITIES_4="Asante Ashland Community Hospital,Asante Rogue Valley Medical Center,Asante Three Rivers Medical Center"
ENDING_FACILITIES_5="St. Charles - Bend,St. Charles - Madras,St. Charles - Redmond,St. Charles - Prineville"
ENDING_FACILITIES_6="Grande Ronde Hospital"
ENDING_FACILITIES_7="Kaiser Sunnyside Medical Center,Kaiser Westside Medical Center"
ENDING_FACILITIES_8="Legacy Emanuel Medical Center,Legacy Good Samaritan Hospital,Legacy Meridian Park Medical Center,Legacy Mount Hood Medical Center,Legacy Randall Children's Hospital,Legacy Silverton Medical Center,Legacy Salmon Creek Medical Center"
ENDING_FACILITIES_9="Providence Hood River Memorial Hospital,Providence Medford Medical Center,Providence Milwaukie Hospital,Providence Newberg Medical Center,Providence Portland Medical Center,Providence Seaside Hospital,Providence St Vincent Medical Center,Providence Willamette Falls,Providence Centralia Hospital,Providence St. Mary"
ENDING_FACILITIES_10="PeaceHealth Southwest Medical Center,PeaceHealth St. John Medical Center"
ENDING_FACILITIES_11="Adventist Health Portland ,Doernbecher Children's Hospital ,OHSU Hospital,Hillsboro Medical Center,PeaceHealth Southwest,PeaceHealth St. John"
ENDING_FACILITIES_12="Adventist Health Portland ,Doernbecher Children's Hospital ,OHSU Hospital,Hillsboro Medical Center,PeaceHealth Southwest,PeaceHealth St. John"
